.form-control {
  &:focus {
    border-color: #cccccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    }

  &.readonly, &.disabled {
    cursor: not-allowed;
    background-color: #eeeeee;
    }
  }


