.aside-modal{
	.form-control,.btn {
		.border-radius(0);
		&:focus{
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.btn {
		width: 100px;
		&:first-child{
			margin-right: 15px;
		}
		&:focus{
			outline-color: #adadad;
		}
	}
}