html{
	margin     : 0;
	padding    : 0;
}

body, html{
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	-webkit-background-clip     : padding-box;
	-webkit-font-smoothing      : antialiased;
	min-width                   : 1000px;
	margin                      : 0px;
	padding                     : 0px;
	overflow                    : hidden;
	.select-disabled();
	.ng-leave{
		display : none;
	}
}

body{
	font-family      : 'Source Sans Pro', sans-serif;
	font-size        : 14px;
	line-height      : 1.42857143;
	color            : #333333;
	text-rendering   : optimizelegibility;
	margin           : 0;
	padding          : 0;
	direction        : ltr;
}

/* Reset the container */
.container {
	min-width: 1000px;
	max-width: none !important;
}

