#simple-container {
  position: absolute;
  min-width: 1000px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;

  #sidebar {
    top: @navbar-height;
    background-color: #FAFAFA;
    position: absolute;
    width: 225px;
    bottom: 0;
    left: 0;
    overflow: hidden;

    + #content {
      left: 225px;
      }
    }

  #content {
    position: absolute;
    top: @navbar-height;
    bottom: 0;
    left: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    color: #FFF;
    right: 0px;

    -webkit-transform: translate3D(0px, 0px, 0px);
    -moz-transform: translate3D(0px, 0px, 0px);
    -o-transform: translate3D(0px, 0px, 0px);
    transform: translate3D(0px, 0px, 0px);

    -webkit-transition: right 238ms ease-in-out;
    -moz-transition: right 238ms ease-in-out;
    -o-transition: right 238ms ease-in-out;
    transition: right 238ms ease-in-out;
    &.left-bar-open {

      right: 350px;

      + #leftbar {

        right: 0;

        }
      }
    }

  #leftbar {
    top: @navbar-height;
    border-left: thin solid #e5e5e5;
    background-color: #FAFAFA;
    position: absolute;
    width: 350px;
    bottom: 0;
    right: -350px;

    -webkit-transform: translate3D(0px, 0px, 0px);
    -moz-transform: translate3D(0px, 0px, 0px);
    -o-transform: translate3D(0px, 0px, 0px);
    transform: translate3D(0px, 0px, 0px);

    -webkit-transition: right 238ms ease-in-out;
    -moz-transition: right 238ms ease-in-out;
    -o-transition: right 238ms ease-in-out;
    transition: right 238ms ease-in-out;

    }

  }
