#contextMenu{
  position  : absolute;
  width     : 100%;
  height    : 100%;
  min-width : 1000px;
  z-index   : 2147483638;

  &:before{
    content          : "";
    position         : fixed;
    width            : 100%;
    height           : 100%;
    top              : 0px;
    left             : 0px;
    background-color : transparent;
    z-index          : 2147483638;
    .opacity(0);
  }

  .context-menu{
    position           : absolute;
    width              : 300px;
    min-height         : 50px;
    z-index            : 2147483638;
    -webkit-box-shadow : 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow    : 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow         : 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border             : thin solid #cccccc;
    background-color   : #ffffff;
    .border-radius(2px);

    ul{
      -webkit-margin-before : 0em;
      -webkit-margin-after  : 0em;
      -webkit-padding-start : 0px;
      margin                : 0;
      padding               : 5px 0px;
      list-style            : none;
      background-color      : #ffffff;

      li{
        display  : block;
        padding  : 0;
        margin   : 0;
        border   : 0;
        position : relative;

        div{
          display         : block;
          height          : 38px;
          line-height     : 36px;
          padding         : 0 15px 0 35px;
          font-size       : 13pt;
          font-weight     : 700;
          text-decoration : none;
          margin          : 0;
          position        : relative;
          &:hover{
            background-color : #f0ad4e;
            border-color     : #eea236;
            color            : #ffffff;
            cursor           : pointer;
          }

          span, i{
            position : absolute;
            top      : 11px;
            left     : 10px;

            &.pull-right{
              right : 10px;
              left  : auto;
            }
          }

        }

        &:hover{
          > ul{
            display : block;
          }

        }

        ul{
          position           : absolute;
          right              : -200px;
          top                : 0px;
          width              : 200px;
          display            : none;
          border             : thin solid #cccccc;
          .border-radius(2px);
          -webkit-box-shadow : 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
          -moz-box-shadow    : 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow         : 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        }

      }

      + ul{
        border-top : thin solid #cccccc;
      }
    }
  }

}

