.drag{
	background : transparent;
	position   : absolute;
	height     : 100%;
	width      : 5px;
	top        : 0px;

	&.mousedown{
		z-index : 1;

		&:before{
			content          : "";
			position         : fixed;
			width            : 100%;
			height           : 100%;
			top              : 0px;
			left             : 0px;
			background-color : transparent;
			cursor           : ew-resize;
			.opacity(0);
		}
	}

	&.right{
		right : 0px;
	}

	&.left{
		left : 0px;
	}

	&:hover{
		cursor : ew-resize;
	}

}