.mf-backdrop{
	position           : fixed;
	width     : 100%;
	height    : 100%;
	z-index   : 1030;
	min-width : 1000px;

	&:before{
		content          : "";
		position         : fixed;
		width            : 100%;
		height           : 100%;
		top              : 0px;
		left             : 0px;
		background-color : #bcbcbc;
		.opacity(60);
	}
}

.drop-box{
	background-color   : #ffffff;
	position           : fixed;
	width              : 800px;
	height             : 300px;
	top                : -305px;
	left               : 50%;
	margin-left        : -400px;
	border             : thin solid #c5c5c5;
	padding            : 15px 10px 10px;
	text-align         : center;
	-webkit-transition : top 238ms ease-in-out;
	-moz-transition    : top 238ms ease-in-out;
	-o-transition      : top 238ms ease-in-out;
	transition         : top 238ms ease-in-out;
	-webkit-box-shadow : 1px 3px 6px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow    : 1px 3px 6px 0px rgba(0, 0, 0, 0.75);
	box-shadow         : 1px 3px 6px 0px rgba(0, 0, 0, 0.75);

	&.in{
		top : -5px;
	}

	.image-drop-upload{
		font-size : 80pt;
		color     : #555555;
	}

	.image-drop-text{
		text-transform : uppercase;
		color          : #555555;
		font-weight    : 100;
		font-family    : brandon-grotesque, helvetica, sans-serif;
	}

	.drop{
		width         : 100%;
		height        : 100%;
		padding       : 50px;
		border        : 2px dashed #bbbbbb;
		font          : 20pt bold 'Arial';
		color         : #bbbbbb;
		border-radius : 3px;
		background    : transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAIAAAAmdTLBAAAAeklEQVQ4jZ3SyRHAIAgFUKQE+m8RWsBDMlkcdi/Rif+RKIuZwR9EFLwFAIx3iEiST4vEBF6PMYHPbEbgdzEg8Fh3iTPfJYx8i7DzdcLNF4mlqsEmSPsn7dD4KzCtEBP3/4+J9/xmxO/8B8R5f13CuP8WYfdPnXD7r0hsWp9B7eC7URwAAAAASUVORK5CYII=') repeat;
		&.hover{
			border-color : #98ca3c;

			.image-drop-upload{
				color : #98ca3c;
			}
		}
	}

	.drop .items{
		position   : absolute;
		text-align : left;
		width      : 100%;
		height     : 100%;
		top        : 0px;
		left       : 0px;
		overflow   : auto;
	}

}

