.panel-file-information {

  border: none;
  background-color: transparent;
  box-shadow: none;
  .panel-heading {
    font-size: 20pt;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 20px 15px 0px;
    background-color: transparent;
    border: none;
    span {
      color: #6c9228;
      }

    > button {
      .border-radius(50px);
      top: 10px;
      position: absolute;
      left: 6px;

      &:focus {
        outline: none;
        }
      }
    }
  }

.info-tabs {
  border: none;

  li {
    width: 50%;
    &.active {
      background-color: transparent;
      > a {
        font-weight: 700;

        }

      &:before {
        content: "";
        position: absolute;
        width: 90%;
        left: 5%;
        top: 0px;
        height: 3px;
        background-color: #b8da78;
        z-index: 1;
        }

      }

    &.disabled {
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: transparent;
        z-index: 1;
        top: 0px;
        left: 0px;
        cursor: not-allowed;
        }
      }

    }

  > li.active, > li {
    text-align: center;
    > a {
      text-decoration: none;
      border: none;
      background-color: transparent;

      color: #444444;
      letter-spacing: 1px;

      &:hover, &:focus {
        border: none;
        background-color: transparent;
        }
      }

    }
  + .tab-content {
    .row {
      .col-xs-9 {
        word-wrap: break-word;
        }
      }
    }

  }
