.halo-light{
	background : #e4e6e9;

	nav{
		ul{
			li{
				background-color: #f9f9f9;

				a{
					color         : #585858;;
					border-top: 1px solid #fcfcfc;
					border-bottom: 1px solid #e5e5e5;


					&:hover, &:focus, &.active{
						background-color: #FFF;
						color: #1963aa;

						&:before{
							display: block;
							content: "";
							position: absolute;
							top: -1px;
							bottom: 0;
							left: 0;
							width: 3px;
							max-width: 3px;
							overflow: hidden;
							background-color: #3382af;
						}
					}
				}

				&.header{
					a{
						&:hover, &:focus{
							color         : #585858;;
							border-top: 1px solid #fcfcfc;
							border-bottom: 1px solid #e5e5e5;
							&:before{
								background-color: transparent;
							}
						}
					}
				}
				> ul{
					>li{
						background-color : #ffffff;
					}
				}
			}
		}
	}

	&.green{
		a{
			&:hover, &:focus, &.active{
				color: #98ca3c;
				&:before{
					background-color: #98ca3c;
				}
			}
		}
	}
}

#sb-site{
	@media (min-width : 980px){
		border-left: 1px solid #e5e5e5;

	}
}