.navbar-default{
	-moz-box-shadow    : 0 1px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow : 0 1px 4px rgba(0, 0, 0, .2);
	box-shadow         : 0 1px 4px rgba(0, 0, 0, .2);

	#brand_bar{
		height             : @navbar-height - 60px;
		background-color   : #ffffff;
		-webkit-box-shadow : inset 1px -8px 6px -7px rgba(0, 0, 0, 0.2);
		-moz-box-shadow    : inset 1px -8px 6px -7px rgba(0, 0, 0, 0.2);
		box-shadow         : inset 1px -8px 6px -7px rgba(0, 0, 0, 0.2);

		a{
			padding : 16px;
		}
	}

	#easy_selections{
		height : @navbar-height - 50px;
	}

}

.navbar{
	min-height : @navbar-height - 60px;
}

#easy_selections{
	.selection-row{
		position : relative;
		padding  : 0px 10px;
		.select-block{
			display : inline-block;
			height  : @navbar-height - 50px;
			margin  : 0px 5px;
			position: relative;
			i{
				font-size : 30pt;
				padding   : 10px;
			}
			&:hover{
				cursor: pointer;
				&:before{
					content       : "";
					position      : absolute;
					width         : 60px;
					height        : 100%;
					background    : #e5e5e5;
					top           : 0px;
					left          : 0px;
					z-index       : -1;
					border-bottom : 3px solid #98ca3c;
				}
			}
		}
	}
}