.content-table {
  display: table;
  width: 100%;
  .content-row {
    display: table-row;
    }
  }

.background-active-color() {
  background-color: #b8da78;
  border-top-color: #b8da78;
  border-bottom-color: #b8da78;

  &:before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 38px;
    overflow: hidden;
    //    background-color: #98ca3c;
    }
  color: #ffffff;

  .icon {
    color: #444444;
    font-size: 23px;
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: subpixel-antialiased;

    > span {
      font-weight: 700;
      z-index: 1;
      width: 45px;

      &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 3px;
        width: 38px;
        height: 38px;
        font-weight: 700;

        .border-radius(50px);
        border: 2px solid #ffffff;
        background-color: #ffffff;
        display: inline-block;
        z-index: -1;

        -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }

table.c-Header {
  width: 100%;

  nav {
    background-color: #fff;
    }

  thead tr {
    td {
      padding: 0px;
      border-bottom: thin solid #e5e5e5;
      color: #444444;
      white-space: nowrap;
      text-align: center;
      }
    }

  #scroll-bar {
    overflow-x: hidden;
    }
  }

.col {

  display: table-cell;

  > span {
    display: inline-block;
    min-width: 30px;
    //    border-right: thin solid #e5e5e5;
    .clearfix();

    box-sizing: border-box;
    padding: 1px 10px 0px;
    position: relative;
    float: left;
    text-align: left;
    .btn {
      margin-top: -4px;
      }
    }
  &.icon {
    font-size: 23px;
    width: 45px;
    > span {
      width: 45px;
      .fa {
        margin-left: 3px;
        }
      }
    }

  &.status {
    width: 100px;
    > span {
      width: 100px;
      text-align: center;
      }

    }
  &.vendor, &.filename {
    max-width: 290px;
    > span {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      }
    }
  &.category {
    width: 100px;
    > span {
      width: 100px;
      }
    }
  &.date {
    width: 100px;
    > span {
      width: 100px;
      }
    }
  &.ptype {
    width: 150px;
    > span {
      width: 150px;
      }
    }
  &.stax {
    width: 100px;
    > span {
      width: 100px;
      }
    }
  &.mtax {
    width: 100px;
    > span {
      width: 100px;
      }
    }
  &.tamount {
    width: 150px;
    > span {
      width: 150px;
      }
    }
  &.tcategory {
    width: 250px;
    > span {
      width: 250px;
      }
    }
  &.reimbursable {
    width: 150px;
    > span {
      width: 150px;
      }
    }
  &.notes, &.lmodified {
    width: 225px;
    > span {
      width: 225px;

      }
    }
  &.fsize {
    width: 100px;
    > span {
      width: 100px;
      text-align: right;
      }
    }
  }

div.content-row {
  display: table-row;
  width: 100%;
  height: 45px;
  line-height: 43px;
  font-size: 13px;
  text-decoration: none;
  margin: 0;
  position: relative;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  background-color: #FFF;
  color: #585858;;
  cursor: pointer;

  > div {

    border-bottom: 1px solid rgba(0, 0, 0, 0.065);
    display: table-cell;
    padding: 0;
    vertical-align: middle;

    }

  //  &:hover, &:focus {
  //    &:not(.c-header) {
  //
  //      color: #585858;;
  //      border-top: 1px solid #fcfcfc;
  //      border-bottom: 1px solid #e5e5e5;
  //      .background-active-color();
  //      }
  //    }
  .collapse-sign {
    float: right;
    }
  }

.files-content {
  display: block;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;

  nav {
    ul {
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-padding-start: 0px;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
        position: relative;
        background-color: #f9f9f9;
        display: table;
        width: 100%;

        &.header {
          a {
            height: 35px;
            line-height: 35px;
            &:hover, &:focus {
              text-decoration: none;
              }
            }
          }

        &.open {
          div.content-row {
            color: #98ca3c;
            border-top: 1px solid #fcfcfc;
            border-bottom: 1px solid #e5e5e5;
            .background-active-color();

            }
          }
        }
      }
    }
  }

.item-details-row {
  display: none;
  height: 150px;
  background-color: red;
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0px;
  }
