.modal-box{
	background-color   : #ffffff;
	position           : fixed;
	width: 400px;
	top                : -50%;
	left               : 50%;
	margin-left        : -200px;
	margin-top         : -200px;
	border             : thin solid #c5c5c5;
	-webkit-transition : top 600ms ease-in-out;
	-moz-transition    : top 600ms ease-in-out;
	-o-transition      : top 600ms ease-in-out;
	transition         : top 600ms ease-in-out;
	-webkit-box-shadow : 1px 3px 6px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow    : 1px 3px 6px 0px rgba(0, 0, 0, 0.75);
	box-shadow         : 1px 3px 6px 0px rgba(0, 0, 0, 0.75);


	&.in{
		top : 50%;
	}

	.panel,.panel-heading{
		.border-radius(0);
		margin: 0px;

	}

}