.navbar-default {
  min-width: 1000px;
}

.navbar-header {
  float: left;
}

.search-box {
  width: 330px;
  padding: 14px 0px;
  input {
    &.form-control {
      .border-radius(50px 0px 0px 50px);
      border-right: none;
      background-color: #ffffff;
      padding: 6px 0px 6px 12px;
      &:focus {
        outline: none;
        border-color: #cccccc;
        box-shadow: none;
      }
    }
    + .input-group-addon {
      background-color: #ffffff;
      border-left-color: transparent;
      .border-radius(0px 50px 50px 0px);
      padding: 6px 10px;
    }
  }
}

/* Undo the collapsing navbar */
.navbar-collapse {

  padding-bottom: 0;
  border-top: 0;

  overflow: visible !important;
  display: block !important;
  height: auto !important;
}

.navbar-toggle {
  display: none;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;

  > li {
    float: left;

    > a {
      padding: 15px;
    }

  }

  &.navbar-right {
    float: right;
  }

}
