nav{
	overflow: auto;

	&::-webkit-scrollbar{
		width : 5px;
	}

	&::-webkit-scrollbar-track{
		-webkit-box-shadow : inset 0 0 3px rgba(0, 0, 0, 0.3);
		border-radius      : 5px;
	}

	&::-webkit-scrollbar-thumb{
		border-radius      : 5px;
		-webkit-box-shadow : inset 0 0 3px rgba(0, 0, 0, 0.5);
	}
}

