.anchor-decorate() {
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    width: 3px;
    max-width: 3px;
    overflow: hidden;
    }
  outline: none;
  border: 0px solid transparent;
  text-decoration: none;
  }

#h-nav {
  background-color: #fafafa;
  height: 50px;
  width: 220px;
  position: fixed;
  z-index: 1;
  border-bottom: thin solid #e5e5e5;
  }

aside#left-panel {
  display: block;
  overflow: hidden;
  min-height: 100%;
  padding-bottom: @navbar-height + 2px;
  z-index: 1;
  top: 0px;
  left: 0px;
  nav {
    overflow-y: scroll;
    width: 100%;

    ul {
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-padding-start: 0px;
      margin: 0;
      padding: 0;
      list-style: none;
      }

    ul {

      li {
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
        position: relative;

        a {
          display: block;
          height: 38px;
          line-height: 36px;
          padding: 0 16px 0 7px;
          font-size: 13px;
          text-decoration: none;
          margin: 0;
          position: relative;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover, &:focus {
            text-decoration: none;
            }
          .collapse-sign {
            float: right;
            }

          &.jarvis-menu-hdd {
            cursor: pointer;
            }
          }

        &.header {
          a {
            height: 28px;
            line-height: 28px;
            &:hover, &:focus {
              text-decoration: none;
              }
            }
          }
        > ul {
          display: none;
          overflow: hidden;
          list-style: none;
          margin: 0;
          padding: 0;
          position: relative;
          }
        }
      }
    }

  .folder-active() {

    }

  nav {
    ul {
      li {
        cursor: pointer;

        &.open, &.active {
          > a i.fa-folder {
            &:before {
              content: "\f07c";
              }
            }

          > a {
            .collapse-sign {
              .fa:before {
                content: "\f146";
                }
              }
            }
          }

        &.open {
          > ul {
            display: block;
            }
          }

        &.active {

          > a {
            .anchor-decorate();
            color: #98ca3c;
            &:before {
              background-color: #98ca3c;
              }
            }
          }

        a {
          color: #585858;;

          &:hover:not(.jarvis-menu-hdd), &.hover, &:focus, &.active {

            .anchor-decorate();
            }

          [data-cm-override] {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 1;
            background-color: transparent;
            }
          }

        &.header {
          a {
            &:hover, &:focus {
              color: #585858;;
              &:before {
                background-color: transparent;
                }
              }
            }
          }
        > ul {
          padding-left: 22px;
          }
        }
      }
    }

  &.green {
    a {
      &:hover:not(.jarvis-menu-hdd), &.hover, &:focus, &.active {
        color: #98ca3c;
        &:before {
          background-color: #98ca3c;
          }
        }
      }
    }
  }

#navFooter {
  height: 59px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  background-color: #fafafa;
  bottom: 0px;
  position: absolute;
  }





