#drop-zone{
	width                 : 100%;
	border                : 1px solid #cccccc;
	-moz-border-radius    : 5px;
	-webkit-border-radius : 5px;
	border-radius         : 5px;
	padding               : 10px;
	text-align            : center;
	position              : relative;
}

.drop{
	width         : 100%;
	height        : 100%;
	padding       : 50px;
	border        : 2px dashed transparent;
	font          : 20pt bold 'Arial';
	color         : #bbbbbb;
	border-radius : 3px;
}

.drop.hover, .drop:hover{
	border-color : #bbbbbb;
}

.drop .items{
	position   : absolute;
	text-align : left;
	width      : 100%;
	height     : 100%;
	top        : 0px;
	left       : 0px;
	overflow: auto;
}

.inner-image span{
	display : inline-block;
	float   : left;
}

.inner-image img{
	height           : 100px;
	margin           : 5px;
}

.inner-image img.thumb{
	border           : 1px solid #bbbbbb;
	background-color : #ffffff;
	padding          : 5px;
}