<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>


	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.2.16/angular-sanitize.min.js"></script>

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/dropZone.css" rel="stylesheet">
	<link href="css/navbar.css" rel="stylesheet">

</head>

<body ng-app="">

<div class="container" ng-controller="Ctrl">

	<form name="testForm" ng-submit="submit()">
		<input class="form-control" type="text" name="eventType" data-ng-model="eventType" placeholder="eventType"/>
		<br>
		<textarea class="form-control" rows="20" ng-model="val">message</textarea>
		<br>
		<button type="submit" class="btn btn-primary pull-right">Submit</button>
	</form>
	<br><br>
	<div class="well" data-ng-bind="string"></div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div class="example">
				<div id="drop-zone">
					<div class="drop">
						Drop files here or Click
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div id="progresses"></div>
		</div>
	</div>


</div>

<script src="js/scripts.js"></script>
<script src="js/dropZone.js"></script>
<script src="js/wsFileTransfer.js"></script>

</body>
</html>