<div id="mainPage" class="">

  <table class="c-Header">
    <thead>
    <tr>
      <td colspan="{{cHeader.length}}">
        <div class="content-table">
          <div class="content-row c-header">
            <div ng-repeat="header in cHeader" class="col {{header.class}}"><span data-ng-bind="header.name"></span>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="{{cHeader.length}}" class="relative">
        <div class="files-content halo-light green">
          <nav id="scroll-bar" data-set-height="166" data-when-scrolled="addMoreFiles()">
            <ul data-on-repeat-complete="fileItemsComplete">
              <li ng-repeat="file in files track by $index" data-ng-click="onClickFileItem($event, file)">
                <div class="content-row" ng-dblclick="onDblClick($event, file)">
                  <div ng-repeat="head in cHeader track by $index" class="col {{head.class}}"
                       ng-switch="head.when">

                    <span ng-switch-when="status"><div data-ng-hide="file.db_data.status"
                                                       class="btn btn-warning btn-xs update-btn"
                                                       data-ng-click="updatePendingStatus($event, file)">Pending
                    </div></span>
                    <span ng-switch-when="icon"><i class="fa {{file.class}}"></i></span>
                    <span ng-switch-when="fsize" data-ng-bind="file.file_size"></span>
                    <span ng-switch-when="vendor" data-ng-bind="file.vendor"></span>
                    <span ng-switch-when="filename" title="{{file.basename}}" data-ng-bind="file.basename"></span>
                    <span ng-switch-when="category" data-ng-bind="file.category"></span>
                    <span ng-switch-when="date" data-ng-bind="file.date"></span>
                    <span ng-switch-when="ptype" data-ng-bind="file.ptype"></span>
                    <span ng-switch-when="stax" data-ng-bind="file.stax"></span>
                    <span ng-switch-when="mtax" data-ng-bind="file.mtax"></span>
                    <span ng-switch-when="tamount" data-ng-bind="file.tamount"></span>
                    <span ng-switch-when="tcategory" data-ng-bind="file.tcategory"></span>
                    <span ng-switch-when="notes" data-ng-bind="file.notes"></span>
                    <span ng-switch-when="reimbursable" data-ng-bind="file.reimbursable"></span>
                    <span ng-switch-when="lmodified" data-ng-bind="file.last_modified"></span>
                    <span ng-switch-default></span>
                  </div>
                </div>

              </li>
            </ul>
          </nav>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


  <div class="item-details-row">
    <div class="row">
      <div class="col-xs-5">Right Content</div>
      <div class="col-xs-7">Left Content</div>
    </div>
  </div>

