<div id="sidebar" class="s-column">&nbsp;</div>
<div id="content" class="s-column">
  <iframe id="frameBox"
          src="http://192.168.1.22/easy/uploads/54bdaa68ae715cc22b56a117/.tmp/Copyofresume.docx-1.html"></iframe>
</div>
