<aside id="left-panel" class="green" data-context-menu="contextMenu">
	<nav id="scroll-bar" data-set-height="170">
		<ul>
			<li >
				<a href="#" class="jarvis-menu-hdd" data-ng-click="easyDrive($event)" click=""><i
					class="fa fa-lg fa-fw fa-hdd-o"></i>
					<span class="menu-item-parent">Easy</span>
				</a>
			</li>
			<div data-dynamic-jarvis="folderList"></div>
		</ul>
	</nav>
</aside>
<div id="navFooter"></div>
