<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div id="brand_bar">
		<div class="container-flush">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Easy</a>
		</div>
		<div id="navbar" class="pull-right">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
	</div>
	<div id="easy_selections">
		<div class="selection-row">
			<span class="pull-left">
				<div class="select-block" data-ng-click="upload()"><i class="fa fa-cloud-upload"></i></div>
			</span>
			<span class="pull-right">
				<div class="search-box">
					<div class="input-group">
						<input type="text" class="form-control" name="search" placeholder="Search">
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</span>
		</div>
	</div>
</nav>