<div id="sidebar" data-resizer="sidebarOptions" data-ng-controller="foldersController" class="s-column"
     data-ng-include="'/views/folders.html'">&nbsp;</div>
<div id="content" class="s-column" data-ng-include="'/views/directoryContents.html'">
  &nbsp;</div>
<div id="leftbar" class="s-column" data-ng-include="'/views/rightContainer.html'">&nbsp;</div>
