<div class="panel panel-default panel-file-information">
  <div class="panel-heading">
    <i class="fa {{fileDetails.class}}"></i>
    <span title="{{fileDetails.basename}}" data-ng-bind="fileDetails.basename"></span>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs info-tabs">
      <li id="detailsTab" class="active"><a href="#" data-ng-click="setTabView('detailsTab')">Details</a></li>
      <li id="viewTab" class="disabled"><a href="#" data-ng-click="getReceiptView('viewTab')">View</a></li>
    </ul>


    <div ng-switch="tabView" class="tab-content">
      <div ng-switch-default>
        <hr/>

        <div class="row">
          <div class="col-xs-3">Type</div>
          <div class="col-xs-9"><span class="text-uppercase" data-ng-bind="fileDetails.extension"></span></div>
        </div>
        <span class="spacer"></span>

        <div class="row">
          <div class="col-xs-3">Location</div>
          <div class="col-xs-9"><span data-ng-bind="fileDetails.dirname"></span>/</div>
        </div>
        <span class="spacer"></span>


        <div class="row">
          <div class="col-xs-3">Modified</div>
          <div class="col-xs-9"><span data-ng-bind="fileDetails.last_modified"></span></div>
        </div>

        <span class="spacer"></span>

        <div class="row">
          <div class="col-xs-3">File size</div>
          <div class="col-xs-9"><span data-ng-bind="fileDetails.file_size"></span></div>
        </div>

        <span class="spacer"></span>

        <hr/>

        <span class="spacer"></span>

        <div class="row">
          <div class="col-xs-6"></div>
          <div
            class="col-xs-6">
            <button data-ng-show="!saveChanges" type="button" class="btn btn-primary btn-xs pull-right"
                    data-ng-click="editReceiptInfo()">Edit
            </button>
            <button data-ng-show="saveChanges" type="button" class="btn btn-success btn-xs pull-right"
                    data-ng-click="saveReceiptInfo()">Save
            </button>
          </div>
        </div>

        <span class="spacer"></span>

        <div class="row">
          <div class="col-xs-5">Date</div>
          <div
            class="col-xs-7">
            <div class="form-group">
              <label class="sr-only" for="receiptDate">Date</label>
              <input type="text" class="form-control readonly" name="date" id="receiptDate"
                     data-ng-model="fileDetails.receiptInfo.date[0]" placeholder="Date" disabled="true"
                     data-ng-keyup="pressEnterKey($event)">
            </div>
          </div>
        </div>
        <span class="spacer"></span>

        <div class="row">
          <div class="col-xs-5">Tax</div>
          <div class="col-xs-7">

            <div class="form-group">
              <label class="sr-only" for="taxAmount">Amount (in dollars)</label>

              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control readonly" name="tax" id="taxAmount"
                       data-ng-model="fileDetails.receiptInfo.tax[2]"
                       placeholder="Tax Amount" disabled="true" data-ng-keyup="pressEnterKey($event)">
              </div>
            </div>
          </div>
        </div>


        <span class="spacer"></span>

        <div class="row">
          <div class="col-xs-5">Total</div>
          <div class="col-xs-7">
            <div class="form-group">
              <label class="sr-only" for="totalAmount">Amount (in dollars)</label>

              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control readonly" name="tax" id="totalAmount"
                       data-ng-model="fileDetails.receiptInfo.total[2]"
                       placeholder="Total Amount" disabled="true" data-ng-keyup="pressEnterKey($event)">
              </div>
            </div>
          </div>
        </div>

        <span class="spacer"></span>

        <div class="row">
          <div class="col-xs-5">
            <input type="text" class="form-control readonly" name="otherName" id="otherName"
                   data-ng-model="fileDetails.receiptInfo.otherName[0]"
                   placeholder="Enter Name" disabled="true" data-ng-keyup="pressEnterKey($event)">
          </div>
          <div class="col-xs-7">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control readonly" name="otherAmount" id="otherAmount"
                       data-ng-model="fileDetails.receiptInfo.otherName[1]"
                       placeholder="Enter Amount" disabled="true" data-ng-keyup="pressEnterKey($event)">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div ng-switch-when="viewTab">
        <div class="row">
          <div class="col-xs-12">
            <div id="frameBox" data-set-height="290"></div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



